/* this styles for todo app, because it`s fail */
.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  transition: .2s linear;
}

.button:hover {
  background: darken(#ffffff, 8%);
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
}

.todo-colors * {
  color: #000000;
  font-size: 14px;
  outline: none;
}

.links-container {
  margin: 10px;
}