html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

h1 {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  color: #fec201;
  text-shadow: red 1px 3px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  transition: .2s linear;
}

.button:hover {
  background: darken(#ffffff, 8%);
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
}

.todo-colors * {
  color: #000000;
  font-size: 14px;
}