$navBackground: #64109b;
$navLinksColor: #10ffa3;

.nav {
    &__container {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        background: $navBackground;
    }

    &__li {
        &:not(:first-child) {
            margin-left: 30px;   
        }

        a {
            color: $navLinksColor;
        }
    }
}